.App {
  text-align: center;
  background-color: #6297B6;
  color: #FFFFFF;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 2px;
}

.App header {
  letter-spacing: 4px;
}

.recent-searches p {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

.forecast-day {
  background-color: #FFFFFF;
  color: #000000;
  box-shadow: 5px 5px 15px rgb(49, 49, 49);
  border: 1px solid lightgray;
  display: inline-block;
  min-width: 150px;
  margin: 10px;
  padding: 10px;
}

.blank-board {
  min-height: 200px;
}